
<label for="name">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="address">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="address" /><br />
<label for="zip">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.zip" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.city" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="city" /><br />
<label for="foundationDate">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.foundation_date" />
</label><br />
	<f:form.textfield property="foundationDate" value="{supportRequest.foundationDate->f:format.date()}" /><br />
<label for="sales">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.sales" />
</label><br />
	<f:form.textfield property="sales" /><br />
<label for="balance">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.balance" />
</label><br />
	<f:form.textfield property="balance" /><br />
<label for="employeesCount">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.employees_count" />
</label><br />
	<f:form.textfield property="employeesCount" /><br />
<label for="manager">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.manager" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="manager" /><br />
<label for="singleRepresentative">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.single_representative" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="singleRepresentative" /><br />
<label for="preTaxDeduction">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.pre_tax_deduction" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="preTaxDeduction" /><br />
<label for="businessPurpose">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.business_purpose" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="businessPurpose" /><br />
<label for="companyShares">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.company_shares" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="companyShares" /><br />
<label for="principalBank">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.principal_bank" />
</label><br />
	<f:form.textfield property="principalBank" /><br />
<label for="bic">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.bic" />
</label><br />
	<f:form.textfield property="bic" /><br />
<label for="iban">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.iban" />
</label><br />
	<f:form.textfield property="iban" /><br />
<label for="contactPersonLastName">
    <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_last_name" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="contactPersonLastName" /><br />
<label for="contactPersonFirstName">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_first_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactPersonFirstName" /><br />
<label for="contactPersonPhone">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_phone" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactPersonPhone" /><br />
<label for="contactPersonFax">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_fax" />
</label><br />
	<f:form.textfield property="contactPersonFax" /><br />
<label for="contactPersonEmail">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactPersonEmail" /><br />
<label for="startUpFoundationDate">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.start_up_foundation_date" />
</label><br />
	<f:form.textfield property="startUpFoundationDate" value="{supportRequest.startUpFoundationDate->f:format.date()}" /><br />
<label for="preFoundationEmployment">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.pre_foundation_employment" />
</label><br />
	<f:form.textfield property="preFoundationEmployment" /><br />
<label for="preFoundationSelfEmployment">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.pre_foundation_self_employment" />
</label><br />
	<f:form.textfield property="preFoundationSelfEmployment" /><br />
<label for="consultingDateFrom">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consulting_date_from" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultingDateFrom" value="{supportRequest.consultingDateFrom->f:format.date()}" /><br />
<label for="consultingDateTo">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consulting_date_to" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultingDateTo" value="{supportRequest.consultingDateTo->f:format.date()}" /><br />
<label for="consultingContent">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consulting_content" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="consultingContent" cols="40" rows="15" /><br />
<label for="consultantType">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantType" /><br />
<label for="consultantCompany">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_company" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantCompany" /><br />
<label for="consultantName1">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_name1" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantName1" /><br />
<label for="consultantName2">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_name2" />
</label><br />
	<f:form.textfield property="consultantName2" /><br />
<label for="consultant1AccreditationNumber">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant1_accreditation_number" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultant1AccreditationNumber" /><br />
<label for="consultant2AccreditationNumber">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant2_accreditation_number" />
</label><br />
	<f:form.textfield property="consultant2AccreditationNumber" /><br />
<label for="consultantFee">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_fee" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantFee" /><br />
<label for="consultantPhone">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_phone" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantPhone" /><br />
<label for="consultantEmail">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantEmail" /><br />
<label for="prematureStart">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.premature_start" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="prematureStart" /><br />
<label for="sendDocuments">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.send_documents" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="sendDocuments" /><br />