
<label for="isStartUp">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.is_start_up" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="isStartUp" /><br />
<label for="name">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="address">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="address" /><br />
<label for="zip">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.zip" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.city" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="city" /><br />
<label for="foundationDate">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.foundation_date" />
</label><br />
	<f:form.textfield property="foundationDate" value="{supportRequest.foundationDate->f:format.date()}" /><br />
<label for="revenue">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.revenue" />
</label><br />
	<f:form.textfield property="revenue" /><br />
<label for="balanceSum">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.balance_sum" />
</label><br />
	<f:form.textfield property="balanceSum" /><br />
<label for="numberOfEmployees">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.number_of_employees" />
</label><br />
	<f:form.textfield property="numberOfEmployees" /><br />
<label for="managerName">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.manager_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="managerName" /><br />
<label for="soleRepresentation">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.sole_representation" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="soleRepresentation" /><br />
<label for="deductionRight">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.deduction_right" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="deductionRight" /><br />
<label for="businessPurpose">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.business_purpose" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="businessPurpose" /><br />
<label for="companyShares">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.company_shares" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="companyShares" /><br />
<label for="principleBank">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.principle_bank" />
</label><br />
	<f:form.textfield property="principleBank" /><br />
<label for="bic">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.bic" />
</label><br />
	<f:form.textfield property="bic" /><br />
<label for="iban">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.iban" />
</label><br />
	<f:form.textfield property="iban" /><br />
<label for="contactPersonLastName">
    <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_last_name" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="contactPersonLastName" /><br />
<label for="contactPersonFirstName">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_first_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactPersonFirstName" /><br />
<label for="contactPersonPhone">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_phone" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactPersonPhone" /><br />
<label for="contactPersonFax">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_fax" />
</label><br />
	<f:form.textfield property="contactPersonFax" /><br />
<label for="contactPersonEmail">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.contact_person_email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactPersonEmail" /><br />
<label for="startUpFoundationDate">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.start_up_foundation_date" />
</label><br />
	<f:form.textfield property="startUpFoundationDate" value="{supportRequest.startUpFoundationDate->f:format.date()}" /><br />
<label for="startUpEmploymentStatusBefore">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.start_up_employment_status_before" />
</label><br />
	<f:form.textfield property="startUpEmploymentStatusBefore" /><br />
<label for="startUpIndependentWork">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.start_up_independent_work" />
</label><br />
	<f:form.textfield property="startUpIndependentWork" /><br />
<label for="consultingDateFrom">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consulting_date_from" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultingDateFrom" value="{supportRequest.consultingDateFrom->f:format.date()}" /><br />
<label for="consultingDateUpTo">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consulting_date_up_to" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultingDateUpTo" value="{supportRequest.consultingDateUpTo->f:format.date()}" /><br />
<label for="consultingDescription">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consulting_description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="consultingDescription" cols="40" rows="15" /><br />
<label for="consultantType">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantType" /><br />
<label for="consultantCompany">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_company" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantCompany" /><br />
<label for="consultantName1">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_name1" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantName1" /><br />
<label for="consultantName2">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_name2" />
</label><br />
	<f:form.textfield property="consultantName2" /><br />
<label for="consultant1AccreditationNumber">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant1_accreditation_number" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultant1AccreditationNumber" /><br />
<label for="consultant2AccreditationNumber">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant2_accreditation_number" />
</label><br />
	<f:form.textfield property="consultant2AccreditationNumber" /><br />
<label for="consultantFee">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_fee" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantFee" /><br />
<label for="consultantPhone">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_phone" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantPhone" /><br />
<label for="consultantEmail">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantEmail" /><br />
<label for="earlyStartDesired">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.early_start_desired" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="earlyStartDesired" /><br />
<label for="sendDocumentsAllowed">
	<f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.send_documents_allowed" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="sendDocumentsAllowed" /><br />