<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <fieldset>
        <legend>
            <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportprogramme" />
        </legend>

        <div class="v320-1">
            <f:form.select name="supportProgramme" options="{supportProgrammeList}" optionValueField="uid" optionLabelField="name" prependOptionValue="0" prependOptionLabel="{f:translate(key:'tx_rkwmanagementconsultancy_partials_supportrequest_formfields.chooseSupportProgramme')}" />
        </div>
    </fieldset>

</div>
</html>