<fieldset>
    <legend>
        <f:translate key="tx_rkwmanagementconsultancy_partials_supportrequest_requestForm.consultant" extensionName="RkwManagementConsultancy" />
    </legend>

    <div class="v320-1">
        <label for="consultantType">
            <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_type" extensionName="RkwManagementConsultancy" />
        </label>
        <f:form.select property="consultantType" options="{0: '{f:translate(key:\"tx_rkwmanagementconsultancy_domain_model_supportrequest.general.pleaseChoose\", extensionName:\"RkwManagementConsultancy\")}', 1: '{f:translate(key:\"tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_type.recommendation\", extensionName:\"RkwManagementConsultancy\")}', 2: '{f:translate(key:\"tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_type.alreadyDecided\", extensionName:\"RkwManagementConsultancy\")}', 3: '{f:translate(key:\"tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_type.notDecided\", extensionName:\"RkwManagementConsultancy\")}'}" />
    </div>

    <div class="v320-1">
        <label for="consultantCompany">
            <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_company" extensionName="RkwManagementConsultancy" />
        </label>
        <f:form.textfield property="consultantCompany" />
    </div>

    <div class="v320-1">
        <div class="v320-1-of-2">
            <label for="consultantName1">
                <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_name1" extensionName="RkwManagementConsultancy" />
            </label>
            <f:form.textfield property="consultantName1" />
        </div>
        <div class="v320-2-of-2">
            <label for="consultant1AccreditationNumber">
                <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant1_accreditation_number" extensionName="RkwManagementConsultancy" />
            </label>
            <f:form.textfield property="consultant1AccreditationNumber" />
        </div>
    </div>

    <div class="v320-1">
        <div class="v320-1-of-2">
            <label for="consultantName2">
                <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_name2" extensionName="RkwManagementConsultancy" />
            </label>
            <f:form.textfield property="consultantName2" />
        </div>
        <div class="v320-2-of-2">
            <label for="consultant2AccreditationNumber">
                <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant2_accreditation_number" extensionName="RkwManagementConsultancy" />
            </label>
            <f:form.textfield property="consultant2AccreditationNumber" />
        </div>
    </div>

    <div class="v320-1">
        <div class="v320-1-of-2">
            <label for="consultantFee">
                <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_fee" extensionName="RkwManagementConsultancy" />
            </label>
            <f:form.textfield property="consultantFee" />
        </div>
    </div>

    <div class="v320-1">
        <div class="v320-1-of-2">
            <label for="consultantPhone">
                <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_phone" extensionName="RkwManagementConsultancy" />
            </label>
            <f:form.textfield property="consultantPhone" />
        </div>
        <div class="v320-2-of-2">
            <label for="consultantEmail">
                <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.consultant_email" extensionName="RkwManagementConsultancy" />
            </label>
            <f:form.textfield property="consultantEmail" />
        </div>
    </div>
</fieldset>