{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}

<fieldset>

    <legend>
        <f:translate key="tx_rkwmanagementconsultancy_partials_supportrequest_requestForm.additional" extensionName="RkwManagementConsultancy" />
    </legend>

    <f:if condition="{supportProgramme.canStartPrematurely}">
        <div class="v320-1">
            <span class="text-smaller"><f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.premature_start.hint1" arguments="{0 : supportProgramme.name}" extensionName="RkwManagementConsultancy" /></span>
            <span class="checkbox">
                <label>
                    <f:form.checkbox name="prematureStart" value="1" />
                    <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.premature_start" extensionName="RkwManagementConsultancy" />
                </label>
            </span>
            <span class="text-smaller"><f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.premature_start.hint2" extensionName="RkwManagementConsultancy" /></span>
        </div>
    </f:if>

    <div class="v320-1">
        <label for="sendDocuments">
            <f:translate key="tx_rkwmanagementconsultancy_domain_model_supportrequest.send_documents" extensionName="RkwManagementConsultancy" />
        </label>
        <f:form.select property="sendDocuments" options="{1: '{f:translate(key:\"tx_rkwmanagementconsultancy_domain_model_supportrequest.send_documents.1\", extensionName:\"RkwManagementConsultancy\")}', 2: '{f:translate(key:\"tx_rkwmanagementconsultancy_domain_model_supportrequest.send_documents.2\", extensionName:\"RkwManagementConsultancy\")}'}" prependOptionValue="0" prependOptionLabel="{f:translate(key:'tx_rkwmanagementconsultancy_domain_model_supportrequest.general.pleaseChoose')}" />
    </div>

    <div class="v320-1">
        <span class="checkbox">
            <label>
                <f:form.checkbox class="feedback-field" property="terms" value="1" />
                <span class="text-smaller">
                    <f:translate key="tx_rkwmanagementconsultancy_partials_supportrequest_requestForm.termsIntro" extensionName="RkwManagementConsultancy" /> <f:link.page pageUid="{settingsArray.termsPid}" target="_blank"><f:translate key="tx_rkwmanagementconsultancy_partials_supportrequest_requestForm.terms" extensionName="RkwManagementConsultancy" /></f:link.page>
                    <f:if condition="{settings.terms2Pid}">
                        <f:translate key="tx_rkwmanagementconsultancy_partials_supportrequest_requestForm.terms2Intro" extensionName="RkwManagementConsultancy" /> <f:link.page pageUid="{settingsArray.terms2Pid}" target="_blank"><f:translate key="tx_rkwmanagementconsultancy_partials_supportrequest_requestForm.terms2" extensionName="RkwManagementConsultancy" /></f:link.page>
                    </f:if>
                    <f:translate key="tx_rkwmanagementconsultancy_partials_supportrequest_requestForm.terms3" extensionName="RkwManagementConsultancy" />
                </span>
            </label>
        </span>
        <f:if condition="{settings.includeRkwRegistrationPrivacy}">
            <span class="checkbox">
                <label>
                    <f:form.checkbox property="privacy" value="1" />
                    <rkwRegistration:privacyText />
                </label>
            </span>
        </f:if>
    </div>

</fieldset>